name: Build nextlib

on:
  push:
    branches: [ main ]
  pull_request:
concurrency:
  group: build-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build nextlib
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v1

      - name: Set Up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: temurin

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v3

      - name: Build Project with gradle
        run: ./gradlew assembleRelease

      - uses: actions/upload-artifact@v4.3.1
        with:
          name: nextlib-release.aar
          path: ./ffcodecs/build/outputs/aar/ffcodecs-release.aar
